.header {
  background-color: #0D0D0D;
  color: #ffffff;
  padding: 2rem 0;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar_nav {
      display: flex;
      gap: 2rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #ffffff;
      }
    }

    .navbar-cart {
      width: 2rem;
      cursor: pointer;
    }
  }
}