.hero_section {
  background-color: $primary_bg_black;
  color: $primary_text_white;
  background-image: url("../../../../public/assets/images/products/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    background-size: cover;
    padding: 5vw 0;
  }

  @include laptop {
    min-height: 90vh;
    background-position: right;
    background-size: contain;
  }

  @include huge_screen {
    background-position: 90%;
  }

  .section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 8rem 0;

    @include laptop {
      align-items: flex-start;
      text-align: start;
      gap: 1.5rem;
      width: 25rem;
    }

    @include desktop {
      align-items: flex-start;
      text-align: start;
      gap: 2rem;
      width: 25rem;
    }

    .content_subheading {
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      color: $primary_text_grey;

      @include laptop {
        letter-spacing: 0.75rem;
        font-size: calc(1.1 * $font-size-base);
      }
    }

    .content_heading {
      text-transform: uppercase;

      @include laptop {
        font-size: calc(1.25 * $font-size-2xl);
      }

      @include desktop {
        font-size: calc(1.35 * $font-size-2xl);
      }
    }

    .content_desc {
      color: $primary_text_grey;

      @include tablet {
        width: 25rem;
      }
    }

    .content_action {
      background-color: $primary_orange;
      color: $primary_text_white;
    }
  }
}

.main_section {

  .product_categories {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 7rem 0 5rem;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }

    @include laptop {
      gap: 2rem;
      margin: 9.5rem 0 7rem;
    }

    @include desktop {
      margin: 12rem 0 8rem;
    }

    @include huge_screen {
      margin: 14rem 0 10rem;
    }

    .category {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 14rem;
      background-color: $secondary_bg_white;
      border-radius: 0.5rem;
      padding-bottom: 2rem;

      @include tablet {
        flex: 1;
      }

      @include desktop {
        height: 15rem;
      }

      @include huge_screen {
        height: 16rem;
      }

      img {
        width: 10rem;
        position: relative;
        top: -10%;

        @include tablet {
          top: -12%;
        }

        @include desktop {
          width: 11rem;
          top: -14%;
        }

        @include huge_screen {
          width: 12rem;
          top: -16%;
        }
      }

      p {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-family: $montserrat-font-weight-600;
      }

      a {
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        @include tablet {
          font-size: calc(0.9 * $font-size-base);
        }

        @include desktop {
          font-size: $font-size-base;
        }

        img {
          width: 1rem;
          margin-top: 0.2rem;
        }
      }
    }
  }

  .feature_products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem 0;

    .product1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      background-color: $primary_orange;
      height: 40rem;

      @include tablet {
        height: 45rem;
      }

      @include laptop {
        height: 35rem;
        flex-direction: row;
        justify-content: space-between;
      }

      @include laptop {
        height: 40rem;
      }

      img {
        width: 80%;

        @include tablet {
          width: 20rem;
        }

        @include laptop {
          width: 25rem;
        }

        @include desktop {
          width: 30rem;
          margin-left: 5%;
        }

        @include huge_screen {
          width: 35rem;
          margin-left: 10%;
        }
      }

      .product1_desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        padding: 2rem;
        color: $primary_text_white;

        @include tablet {
          width: 25rem;
        }

        @include laptop {
          text-align: start;
          align-items: flex-start;
        }

        @include desktop {
          gap: 1.5rem;
          margin-right: 10%;
        }

        @include huge_screen {
          margin-right: 15%;
        }

        .desc_title {
          text-transform: uppercase;
          font-size: calc(0.9 * $font-size-2xl);
        }

        .desc_action {
          background-color: $primary_bg_black;
          color: $primary_text_white;
        }
      }
    }

    .product2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 0.5rem;
      background-color: $secondary_bg_white;
      overflow: hidden;
      height: 20rem;

      @include tablet {
        height: 25rem;
      }

      @include laptop {
        height: 30rem;
      }

      .product2_desc {
        min-width: 15rem;
        margin-left: 10%;

        @include laptop {
          margin-left: 10%;
        }

        @include desktop {
          margin-left: 15%;
        }

        .desc_title {
          text-transform: uppercase;
          font-size: calc(0.8 * $font-size-xl);
          padding-bottom: 2rem;
        }

        .desc_action {
          background-color: transparent;
          color: $primary_bg_black;
          border: 0.1rem solid $primary_bg_black;
        }
      }

      img {
        width: 12rem;

        @include tablet {
          width: min(50vw, 20rem);
          position: initial;
        }

        @include laptop {
          margin-right: 10%;
        }

        @include desktop {
          width: 25rem;
        }
      }
    }

    .product3 {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 25rem;

      @include tablet {
        height: 30rem;
        flex-direction: row;
      }

      @include laptop {
        height: 35rem;
      }

      @include desktop {
        height: 40rem;
      }

      @include huge_screen {
        height: 45rem;
      }

      .product3_image {
        height: 50%;

        @include tablet {
          flex: 1;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
          object-fit: cover;
        }
      }

      .product3_desc {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: $secondary_bg_white;
        border-radius: 0.5rem;

        @include tablet {
          flex: 1;
        }

        .desc_title {
          text-transform: uppercase;
          font-size: calc(0.8 * $font-size-xl);
        }

        .desc_action {
          background-color: transparent;
          color: $primary_bg_black;
          border: 0.1rem solid $primary_bg_black;
        }
      }
    }
  }

  .section_article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50rem;
    padding: 10rem 0;

    .article_content {
      width: 35%;

      .article_heading {
        text-transform: uppercase;

        span {
          color: $primary_orange;
        }
      }
    }

    .article_image {
      width: 50%;

      img {
        width: 100%;
        height: 40rem;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }
}