/************* Initial CSS Resets *************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin/padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/**********************************************/

/************* Type Scale *************/

html {
  font-size: 100%;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

h5 {
  font-size: $font-size-lg;
}

small,
.text_small {
  font-size: $font-size-sm;
}

/***************************************/

body {
  font-family: $montserrat-font-weight-400 , sans-serif;
  background-color: $primary_bg_white;
}

.container {
  width: 90vw;
  margin: 0 auto;

  @include desktop {
    width: 80vw;
  }
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}