/* Font Families */
$montserrat-font-weight-900: "Montserrat, Black";
$montserrat-font-weight-800: "Montserrat, Extra-Bold";
$montserrat-font-weight-700: "Montserrat, Bold";
$montserrat-font-weight-600: "Montserrat, Semi-Bold";
$montserrat-font-weight-500: "Montserrat, Medium";
$montserrat-font-weight-400: "Montserrat, Regular";
$montserrat-font-weight-300: "Montserrat, Light";
$montserrat-font-weight-200: "Montserrat, Extra-Light";
$montserrat-font-weight-100: "Montserrat, Thin";

/* Font Sizes */
$font-size-xxs: 0.625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-base: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-xxl: 1.375rem; // 22px

/* Colors */
.NOISE®-FW22-1-hex {
  color: #F24B0F;
}

.NOISE®-FW22-2-hex {
  color: #BF471B;
}

.NOISE®-FW22-3-hex {
  color: #8C4C35;
}

.NOISE®-FW22-4-hex {
  color: #8C8C8C;
}

.NOISE®-FW22-5-hex {
  color: #0D0D0D;
}

.bulthaup-Website-UXUI-1-hex {
  color: #734230;
}

.bulthaup-Website-UXUI-2-hex {
  color: #A69898;
}

.bulthaup-Website-UXUI-3-hex {
  color: #F2F2F2;
}

.bulthaup-Website-UXUI-4-hex {
  color: #D9D9D9;
}

.bulthaup-Website-UXUI-5-hex {
  color: #0D0D0D;
}



/* Layouts Breakpoints */
$breakpoints: (
  // 320px
  xxs: 20rem,
  // 480px
  xs: 30rem,
  // 640px
  sm: 40rem,
  // 768px
  md: 48rem,
  // 1024px
  lg: 64rem,
  // 1280px
  xl: 80rem,
  // 1536px
  xxl: 96rem,
);

@mixin mobile {
  @media (min-width: map-get($dse-breakpoints, "xxs")) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: map-get($dse-breakpoints, "xs")) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: map-get($dse-breakpoints, "sm")) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($dse-breakpoints, "md")) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map-get($dse-breakpoints, "lg")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($dse-breakpoints, "xl")) {
    @content;
  }
}

@mixin huge-screen {
  @media (min-width: map-get($dse-breakpoints, "xxl")) {
    @content;
  }
}