.footer {
  background-color: #0D0D0D;
  color: #ffffff;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    .navbar_nav {
      display: flex;
      gap: 2rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #ffffff;
      }
    }
  }
}