.footer {
  background-color: $primary_bg_black;
  color: $primary_text_white;
  padding: 5rem 0;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

    .navbar_nav {
      display: flex;
      gap: 2rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: $primary_text_white;
      }
    }
  }

  .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content_left {
      width: 40%;

      .content_desc {
        margin-bottom: 1.5rem;
      }
    }

    .content_right {
      display: flex;
      gap: 2rem;

      img {
        width: 1.5rem;
      }
    }
  }
}