.footer {
  background-color: $primary_bg_black;
  color: $primary_text_white;
  padding: 3.75rem 0;

  .footer_navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar_brand {
      font-family: $montserrat-font-weight-800;
      font-size: calc(1.2 * $font-size-lg);
      letter-spacing: 0.1rem;
    }

    .navbar_nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: 2.5rem 0;

      a {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
    }
  }

  .footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .social_nav {
      display: flex;
      gap: 2rem;

      img {
        width: 1.5rem;
      }
    }
  }
}