/*--------------------------MONTSERRAT--------------------------*/

/* 900 */
@font-face {
  font-family: "Montserrat, Black";
  src: url("../families/montserrat/Montserrat-Black.ttf") format("truetype");
}

/* 800 */
@font-face {
  font-family: "Montserrat, Extra-Bold";
  src: url("../families/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

/* 700 */
@font-face {
  font-family: "Montserrat, Bold";
  src: url("../families/montserrat/Montserrat-Bold.ttf") format("truetype");
}

/* 600 */
@font-face {
  font-family: "Montserrat, Semi-Bold";
  src: url("../families/montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

/* 500 */
@font-face {
  font-family: "Montserrat, Medium";
  src: url("../families/montserrat/Montserrat-Medium.ttf") format("truetype");
}

/* 400 */
@font-face {
  font-family: "Montserrat, Regular";
  src: url("../families/montserrat/Montserrat-Regular.ttf") format("truetype");
}

/* 300 */
@font-face {
  font-family: "Montserrat, Light";
  src: url("../families/montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat, Extra-Light";
  /* 200 */
  src: url("../families/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat, Thin";
  /* 100 */
  src: url("../families/montserrat/Montserrat-Thin.ttf") format("truetype");
}

/*--------------------------MONTSERRAT--------------------------*/